:host {
  height: 100%;
  width: 100%;


  .container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    padding: 1em;
    place-content: center;
    margin: auto;

    &.hidden {
      display: none;
    }
  }
}