<header>
  <div class="logo">
    <img src='{{server_base}}/assets/memory-game.png{{server_base_raw}}' alt="Logo" />
    <button (click)="toggleMusicState()" class="volume" mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon *ngIf="!this.actions.musicMuted">volume_up</mat-icon>
      <mat-icon *ngIf="this.actions.musicMuted">volume_off</mat-icon>
    </button>
  </div>
  
</header>

<form #settingForm='ngForm' style="display: flex; flex-flow: column wrap;" (ngSubmit)="onSubmit()">
  <div class="setting-form">
    <fieldset>
      <legend>
        <mat-label>Cards Count</mat-label>
      </legend>

      <mat-radio-group [(ngModel)]="settings.cards_count" name="{{settings.cards_count}}">
        <mat-radio-button *ngFor="let item of cards_count" value="{{item.value}}">
          {{item.text}}
        </mat-radio-button>
      </mat-radio-group>
    </fieldset>
    <div class="left">
      <mat-form-field appearance="outline">
        <mat-label>Choos Images Type</mat-label>
        <mat-select [(ngModel)]="settings.images_type" name="images_type">
          <mat-option *ngFor="let item of imgs_types" [value]="item">
            {{item | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="settings.using_hint_button" name="using_hint_button">
        Use Hint Button</mat-checkbox>
      <button mat-raised-button color="accent" type="submit">Let's Go</button>
    </div>

  </div>
</form>
