:host {
  height: 100%;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  color: #ad1629;

  @media (max-width: 576px) {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr;

  }

  header {
    margin: auto;

    .logo {
      // max-width: 500px;


      @media(max-width: 576px) {
        margin: 75px 20px 20px 20px;
      }

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .setting-form {
    margin: auto;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr;
    gap: 20px;

    @media(max-width: 576px) {
      grid-template-columns: 100%;
      gap: 20px;
      justify-content: center;
    }

    .left {
      height: 170px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;

      @media(max-width: 576px) {}
    }

    fieldset {
      height: 100%;
      min-height: 150px;
      width: 100%;
      border-radius: 6px;
      font-size: 12px;
      border: 1px solid #72408b;

      legend {
        text-align: left;
        margin-left: 8px;
        color: #72408b;
        font-size: 10px;

        mat-label {
          padding: 0 8px 0 5px;
        }
      }

      .mat-radio-group {
        height: 95%;
        width: 60%;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
      }
    }

    button {
      width: 120px;
      margin-bottom: -5px;
      background: #ad1629 !important;
      border: none !important;
      box-shadow: 0 2px 3px #111;
      text-transform: uppercase;
      transition: 0.1s ease-in-out;


      @media(hover: hover) {
        &:hover {
          transform: translateY(3px);

          box-shadow: 0 1px 1px #111 !important;
        }
      }
    }
  }

}

::ng-deep .mat-form-field {
  width: 150px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-flex .mat-form-field-label {
  color: #72408b;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #72408b;
}

::ng-deep .mat-form-field-outline {
  color: #72408b !important;
}

::ng-deep .mat-form-field .mat-select-arrow {
  color: #ad1629;
}


::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: white;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #72408b;
}

::ng-deep .mat-select-value {
  color: #ad1629 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-outer-circle {
  background-color: white;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #72408b;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #72408b;
}

// ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
// .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: #72408b;
// }
::ng-deep mat-checkbox {
  .mat-checkbox-background {
    background-color: white;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: #72408b;
  }
}